section.chooseTask {
    padding:100px 0;
    .sp {padding-left:0 !important; padding-right:0;}
    .content {background:#fff; border-radius: 15px; overflow: hidden;}
    .chooseTaskNav {
        position: relative;
        width:100%;
        min-height:auto;
        .navItem a {
            padding-left:25px;
            padding-top:12px;
            padding-bottom:12px;
        }
        .tasksButton {
            background-color:rgb(216, 87, 13);
            border-radius:0;
            border-color:rgb(216, 87, 13);
            width:100%;
            text-transform: uppercase;
            font-size:16px;
            &:hover {
                color:rgb(216, 87, 13);
                background-color:#fff;
            }
        }
        ul li:last-of-type {
            border-bottom:none;
            padding-left: 25px;
            padding-top: 12px;
            padding-bottom: 12px;
            padding-right:25px;
            a {padding:0 !important}
        }
    }
    .pic {
        position: relative;
        .blur {
            position: absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            background-color: rgba(180, 39, 161, 0.7);
        }
    }
}