$main-color:#7228FF;
.span-button {
    background-color:#ccc;
    color:#676767;
    padding:4px 30px;
    min-width:170px;
    border-radius:5px;
    border:2px solid #ccc;
    font-size:14px;
    font-weight:bold;
    display: block;
    margin:auto;
    cursor: not-allowed;
}