@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  font-family: 'Raleway', sans-serif !important;
  background-color: #f2f2f2 !important;
}

.fromHome {
  .container {
    @media (min-width:768px) {
      padding-left:170px;
    }
  }
}